config global
    option global_server 'nil'

# 加入你的 Shadowsocks 帐号
config servers 1
    option local_port '1080'
    option timeout '60'
    option alias '{ }'
    option server '{ IP 地址 }'
    option server_port '{ 端口 }'
    option password '{ 密码 }'
    option encrypt_method '{ 加密方式 }'

# 这是另外一个
config servers 2
    option local_port '1080'
    option timeout '60'
    option alias 'server2'
    option server '8.8.8.8'
    option server_port '8181'
    option password '123456'
    option encrypt_method 'aes-128-cfb'

# 如果你不知道以下配置的作用，请不要修改
config udp_forward
    option tunnel_enable '0'
    option tunnel_port '5300'
    option tunnel_forward '8.8.4.4:53'

config access_control
    option lan_ac_mode '0'
    option wan_bp_list '/etc/chinadns_chnroute.txt'
